<div class="modal-overlay">
  <div #modal class="user-details-modal">
    <header>
      <h1>
        {{ user.name }}
      </h1>
    </header>
    <div class="close-btn" (click)="closeUserDetails.emit()">&times;</div>
    @if(userForm) {
    <form class="user-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-field name-field">
        <div class="input-label-container">
          <label for="name"> Name: </label>
          <input type="text" formControlName="name" id="name" />
        </div>
        <ng-container
          [ngTemplateOutlet]="errorMsg"
          [ngTemplateOutletContext]="{ field: 'name' }"
        ></ng-container>
      </div>

      <div class="form-field email-field">
        <div class="input-label-container">
          <label for="email"> Email: </label>
          <input type="email" formControlName="email" />
        </div>
        <ng-container
          [ngTemplateOutlet]="errorMsg"
          [ngTemplateOutletContext]="{ field: 'email' }"
        ></ng-container>
      </div>

      <div class="form-field phone-field">
        <div class="input-label-container">
          <label for="phone">Phone:</label>
          <input type="phone" formControlName="phone" />
        </div>
        <ng-container
          [ngTemplateOutlet]="errorMsg"
          [ngTemplateOutletContext]="{ field: 'phone' }"
        ></ng-container>
      </div>

      <div class="form-field website-field">
        <div class="input-label-container">
          <label for="website">Website:</label>
          <input type="string" formControlName="website" />
        </div>
        <ng-container
          [ngTemplateOutlet]="errorMsg"
          [ngTemplateOutletContext]="{ field: 'website' }"
        ></ng-container>
      </div>
      <div class="action-btns-container">
        <button class="submit-btn" type="submit" [disabled]="userForm.errors">
          Submit
        </button>
      </div>
    </form>
    }
  </div>
</div>

<ng-template #errorMsg let-field="field">
  @if (!isFieldValid(field)) {
  <div class="error-msg">Please enter a valid {{ field }}</div>
  }
</ng-template>
