@use "mixins" as mixins;

.modal-overlay {
  @include mixins.overlay;
}

.user-details-modal {
  --modal-title-font-size: 2rem;
  --modal-padding-inline: 2rem;
  --modal-padding-block: 3rem;

  @include mixins.flex-center;
  flex-direction: column;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--theme-primary-10);
  border-radius: 1rem;

  width: min(100vw, 50rem);

  header {
    width: 100%;
    padding-inline: var(--modal-padding-inline);
    border-bottom: 1px solid #fff;
  }

  .title {
    font-size: var(--modal-title-font-size);
  }

  .action-btns-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    & > *:not(:last-child) {
      margin-right: 1rem;
    }

    button {
      width: 8rem;
      padding-block: 0.5rem;
      text-align: center;
      border: 1px solid var(--theme-tertiary-40);
      border-radius: 1rem;
      transition: background 0.2s;

      &:hover {
        background: var(--theme-tertiary-40);
      }
    }
  }
}

.user-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  width: 100%;
  height: 100%;

  padding-inline: var(--modal-padding-inline);
  padding-block: var(--modal-padding-block);

  .fields-container {
    width: 100%;
    margin-bottom: 2rem;

    & > *:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .error-msg {
    color: red;
  }
}

.close-btn {
  position: absolute;
  top: 1.4rem;
  right: var(--modal-padding-inline);
  font-size: var(--modal-title-font-size);
  cursor: pointer;
}
