<div class="modal-overlay">
  <div #modal class="user-details-modal">
    <header>
      <h1 class="title">
        {{ user.name }}
      </h1>
    </header>
    <div class="close-btn" (click)="closeUserDetails.emit()">&times;</div>
    @if(userForm) {
    <form class="user-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="fields-container">
        <div class="form-field name-field">
            <label for="name"> Name: </label>
            <input type="text" formControlName="name" id="name" />
        </div>
        @if (!isFieldValid('name')) {<div class="error-msg">Please enter a valid name</div>}

        <div class="form-field email-field">
            <label for="email"> Email: </label>
            <input type="email" formControlName="email" id="email"/>
        </div>
        @if (!isFieldValid('email')) {<div class="error-msg">Please enter a valid email</div>}

        <div class="form-field phone-field">
            <label for="phone">Phone:</label>
            <input type="phone" formControlName="phone" id="phone"/>
        </div>
        @if (!isFieldValid('phone')) {<div class="error-msg">Please enter a valid Israeli phone</div>}

        <div class="form-field website-field">
            <label for="website">Website:</label>
            <input type="string" formControlName="website" id="website" />
        </div>
        @if (!isFieldValid('website')) {<div class="error-msg">Please enter a valid website</div>}
      </div>
      <div class="action-btns-container">
        <button class="submit-btn" type="submit" [disabled]="userForm.errors">
          Submit
        </button>
      </div>
    </form>
    }
  </div>
</div>