:root {
  --theme-primary-10: #001b3f;
  --theme-primary-20: #002f65;

  --theme-tertiary-40: #ba005c;

  --theme-neutral-10: #0e0e0e;
  --theme-neutral-20: #2f3033;
  --theme-neutral-70: #ababaf;
  --theme-neutral-100: #fff;

  --app-header-height: 6rem;
}
