@use "@angular/material" as mat;
@import "theme";

.app-header {
  height: 6rem;
  background: mat.get-theme-color($theme, primary, 20);

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    text-transform: lowercase;
    font-size: 3rem;
  }
}
