.app-header {
  position: fixed;
  width: 100%;
  height: var(--app-header-height);
  background: var(--theme-primary-20);

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    text-transform: lowercase;
    font-size: 3rem;
  }
}
