@mixin for-mobile-layout {
  @media (max-width: $break-narrow) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (min-width: $break-narrow) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: $break-normal) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (min-width: $break-wide) {
    @content;
  }
}
@mixin for-X-wide-layout {
  @media (min-width: $break-X-wide) {
    @content;
  }
}

@mixin overlay(
  $blur: true,
  $blur-amount: 5px,
  $background-color: rgba(0, 0, 0, 0.5),
  $z-index: 1000
) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $z-index;

  @if $blur {
    backdrop-filter: blur($blur-amount);
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
